html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Home
    link(rel="stylesheet" href="style.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet")

  body(class="open-sans")
    header
      h1.title Esteban Planas

    main
      ul.list-style-none
        if articlesJson
          each article in articlesJson
            li.flex
              a(href=`/article/${article.id}`) #{article.title}
              p.date #{article.date}
              a(href="/deleteArticle/${article.id}") Eliminar
              a(href="/editArticle/${article.id}") Editar
        else
          li.flex
            a No Hay artículos disponibles
        a Crear nueva entrada
    
    footer
      a(href="/login") Cerrar Sesión